# Build output
build/

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store

# coverage artifacts
*.gcno
*.gcda
*.info
*.profraw
coverage-report/

# cache
.cache/

# cmake
cmake-build-debug/

# ccbuild dir
**/.ccbuild/
